---
import Card from '../components/Card.astro'
import Header from '../pages/header.astro'
import { cards } from '../utils/state'
---

<div class="relative flex h-full w-full flex-col items-center justify-evenly px-6 max-[768px]:p-2">
	<Header />
	<div
		hx-get="/header"
		hx-target="#header"
		hx-swap="outerHTML"
		hx-trigger="mouseleave"
		hx-vals=`{"color": "green"}`
		class="flex w-full items-center justify-center gap-2 max-[768px]:flex-wrap"
	>
		{
			cards.map(({ about, color, text, btnText }) => (
				<Card about={about} color={color} text={text} btnText={btnText} />
			))
		}
	</div>
</div>
